.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
  
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
  
.button {
    display: inline-block;
    color: var(--white);
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background: var(--style-color);
    border-radius: 4px;
    border-color: rgba(0, 0, 0 ,0);
    color: var(--white);
    cursor: pointer;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  
   &:focus,  
   &:hover {
    background: var(--style-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white);
  }
}
