:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --style-color: #2196f3;
    --background: #2f303a;
    --white: #ffffff;
    --color-contacts: #757575;
    --card-border-color: #EEEEEE;
    --accent-color: #2196f3;
    --bg-items-color: #f5f4fa;
    --pixels-interval: 30px;
    --minuspixels: -30px;
  }