.address,
  .nav__address {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-contacts);
  }
   
  .nav__address:hover,
  .nav__address:focus {
   color: var(--accent-color);
   transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .address-item {
    margin-bottom: 9px;
  }
  
  .address-street {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .address-contacts:hover,
  .address-contacts:focus {
  color: var(--accent-color);
  }

  .contacts {
    display: flex;
    margin-left: auto;
    align-items: baseline;
    }
    
    .menu,
    .contacts {
    list-style: none;
    }

    .contacts__svg {
        display: flex;
        align-items: center;
      }
      
      
      
     
      
        .contacts__contacts-icon {
        fill: currentColor;
        margin-right: 10px;
      }
      
      .contacts__contacts-icon:hover,
      .contacts__contacts-icon:focus {
        fill: var(--accent-color);
        transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
      }
      .our-contacts {
        margin-top: 30px;
      }
      
      .our-contacts-list {
        text-decoration: none;
        color: var(--under-color);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .footer.contacts.item {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
      }
      
      .footer.contacts.item.link {
        margin-top: 9px;
      }
      